# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* Popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit Learn
3. Numpy
4. Matplotlib

| Data Science Tools |
| :------------------ |
| TensorFlow |
| Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

m = 200
c = 60

round((m/c),1)

3.3

## Author
A Carter